if isOwnerView
  div(style='background-color:yellow;')
    p This is your form. Some fancy admin controls will go here :)
    p Visit this page incognito and these won't be here.
h1= form.name
p
  | This is
  |
  = user.displayName
  |
  | (
  = user.email
  | )
  | 's form.
hr
h3 Questions
form(method='POST', action=form.submitUrl)
  fieldset
    label(for='email') What's your email?
    input(id='email', type='text', name='email', placeholder='person@cool.com')
  fieldset
    label(for='body') What drawing do you want?
    input(id='body', type='text', name='body', placeholder='I want this...')
  button(type='submit') Submit
