html(lang='en')
  head
    title Easelbee | Sign Up
    meta(name='charset', content='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    include ./favicons
    meta(name='description', content='Easelbee')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    h1 Easelbee - Beta Sign Up
    if errors && errors.length
      h3 Errors:
      ul.errors
        for error in errors
          li.error= error
    form(action='/signup', method='POST')
      .form-group
        label(for='email') Email
        input(id='email', name='email', placeholder='your@email.com')
      .form-group
        label(for='displayName') Display Name
        input(id='displayName', name='displayName', placeholder='your@email.com')
      .form-group
        label(for='password') Password
        input(id='password', type='password', name='password')
      .form-group
        label(for='password2') Confirm Password
        input(id='password2', type='password2', name='password2')
      .form-group
        button(type='submit') Sign Up
