$purple: #7c529f;

$gray: #989fa3;
$gray-light: #dce1e4;
$gray-faint: #eee;
$gray-dark: darken($gray, 30%);

$blue: rgb(174, 217, 236);
$blue-light: lighten($blue, 13%);
$blue-faint: rgb(220, 243, 253);
$blue-dark: rgb(82, 157, 189);

$red: rgb(232, 64, 0);
$red-light: lighten($red, 10%);
$red-dark: darken($red, 30%);

$black: #111;

$white: #ffffff;

$success: rgb(87, 226, 70);
$danger: rgb(231, 29, 29);
$warning: rgb(240, 234, 98);
$info: rgb(148, 218, 221);
